<div class="mb-2">
    <form name="grupo-eliminar" id="form-delete-grupo" method="post" action="{{ path('admin_app_grupo_delete', {'id': grupo.id}) }}" <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ grupo.id) }}">

        <button id="btn-delete-grupo" class="btn btn-danger">
            <span>
                <i class="fas fa-trash"></i>
                <span>{{ button_label|default('Eliminar') }}</span>
            </span>
        </button>
    </form>
</div>