{% extends 'backend/layout/main.html.twig' %}



{% block page_title %}<i class="fa-solid fa-desktop"></i> Grupo index{% endblock %}
{% block page_content %}
<div class="mb-2">
<button type="button" id="btn-add-grupo" class="btn btn-primary" data-url="{{ path('admin_app_grupo_new') }}"><i class="fas fa-plus-circle" aria-hidden="true"></i> Nuevo</button>
</div>
    <table id="lista-grupo" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>Roles</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for grupo in grupos %}
            <tr>
                <td>{{ grupo.id }}</td>
                <td>{{ grupo.nombre }}</td>
                <td>{{ grupo.descripcion }}</td>
                <td>{{ grupo.roles ? grupo.roles|json_encode : '' }}</td>
                <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" title="Editar" class="btn btn-sm btn-primary btn-edit-grupo" data-url="{{ path('admin_app_grupo_edit', {'id': grupo.id}) }}"> <i class="fa-solid fa-edit"></i></button>
                    <button type="button" title="Consultar" class="btn btn-sm btn-info btn-show-grupo" data-url="{{ path('admin_app_grupo_show', {'id': grupo.id}) }}"><i class="fa-solid fa-search"></i></button>
</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="contenedor-modales"></div>

    
{% endblock %}


{% block stylesheets %}
{{parent()}}
{{ encore_entry_link_tags('backend.grupo') }}
{% endblock %}
{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('backend.grupo') }}
{% endblock %}
