<div class="mb-2">
    <form name="permiso-eliminar" id="form-delete-permiso" method="post" action="{{ path('admin_app_permiso_delete', {'id': permiso.id}) }}" <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ permiso.id) }}">

        <button id="btn-delete-permiso" class="btn btn-danger">
            <span>
                <i class="fas fa-trash"></i>
                <span>{{ button_label|default('Eliminar') }}</span>
            </span>
        </button>
    </form>
</div>