
<div id="modal-edit-permiso" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar Permiso</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ include('backend/permiso/_delete_form.html.twig', {'entity_name': 'Permiso'}) }}
                {{ include('backend/permiso/_form.html.twig') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
                <button type="button" id="btn-update-permiso" class="btn btn-primary"> <i class="fa-solid fa-floppy-o"></i> Actualizar</button>
            </div>
        </div>
    </div>
</div>

