{% extends 'backend/layout/main.html.twig' %}



{% block page_title %}<i class="fa-solid fa-desktop"></i> Permiso index{% endblock %}
{% block page_content %}
<div class="mb-2">
<button type="button" id="btn-add-permiso" class="btn btn-primary" data-url="{{ path('admin_app_permiso_new') }}"><i class="fas fa-plus-circle" aria-hidden="true"></i> Nuevo</button>
</div>
    <table id="lista-permiso" class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nombre</th>
                <th>Descripcion</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for permiso in permisos %}
            <tr>
                <td>{{ permiso.id }}</td>
                <td>{{ permiso.nombre }}</td>
                <td>{{ permiso.descripcion }}</td>
                <td>
                <div class="btn-group" role="group" aria-label="Basic example">
                    <button type="button" title="Editar" class="btn btn-sm btn-primary btn-edit-permiso" data-url="{{ path('admin_app_permiso_edit', {'id': permiso.id}) }}"> <i class="fa-solid fa-edit"></i></button>
                    <button type="button" title="Consultar" class="btn btn-sm btn-info btn-show-permiso" data-url="{{ path('admin_app_permiso_show', {'id': permiso.id}) }}"><i class="fa-solid fa-search"></i></button>
</div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div id="contenedor-modales"></div>

    
{% endblock %}


{% block stylesheets %}
{{parent()}}
{{ encore_entry_link_tags('backend.permiso') }}
{% endblock %}
{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('backend.permiso') }}
{% endblock %}
