<div class="mb-2">
    <form name="user-eliminar" id="form-delete-user" method="post" action="{{ path('admin_app_user_delete', {'id': user.id}) }}" <input type="hidden" name="_method" value="DELETE">
        <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ user.id) }}">

        <button id="btn-delete-user" class="btn btn-danger">
            <span>
                <i class="fas fa-trash"></i>
                <span>{{ button_label|default('Eliminar') }}</span>
            </span>
        </button>
    </form>
</div>