{{ form_start(form) }}
    {{form_row(form.email)}}
    {{form_row(form.nombre)}}
    {{form_row(form.apellidos)}}
    {{form_row(form.password)}}
    {{ form_widget(form) }}
    
{{ form_end(form) }}
