{% extends 'backend/layout/main.html.twig' %}



{% block page_title %}<i class="fa-solid fa-desktop"></i> User index{% endblock %}
{% block page_content %}
<div class="mb-2">
<button type="button" id="btn-add-user" class="btn btn-primary" data-url="{{ path('admin_app_user_new') }}"><i class="fas fa-plus-circle" aria-hidden="true"></i> Nuevo</button>
</div>
    <table id="lista-user" class="table" data-url="{{path('admin_user_rows_data_table')}}">
        <thead>
            <tr>
                <th>Email</th>
                <th>Nombre</th>
                <th>Apellidos</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
        
        </tbody>
        
    </table>
    <div id="contenedor-modales"></div>

    
{% endblock %}


{% block stylesheets %}
{{parent()}}
{{ encore_entry_link_tags('backend.user') }}
{% endblock %}
{% block javascripts %}
{{parent()}}
{{ encore_entry_script_tags('backend.user') }}
{% endblock %}
