<div id="modal-show-user" class="modal" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Editar User</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <table class="table">
                    <tbody>
                                                    <tr>
                                <th>Id</th>
                                <td>{{ user.id }}</td>
                            </tr>
                                                    <tr>
                                <th>Roles</th>
                                <td>{{ user.roles ? user.roles|json_encode : '' }}</td>
                            </tr>
                                                    <tr>
                                <th>Password</th>
                                <td>{{ user.password }}</td>
                            </tr>
                                                    <tr>
                                <th>Email</th>
                                <td>{{ user.email }}</td>
                            </tr>
                                                    <tr>
                                <th>Nombre</th>
                                <td>{{ user.nombre }}</td>
                            </tr>
                                                    <tr>
                                <th>Apellidos</th>
                                <td>{{ user.apellidos }}</td>
                            </tr>
                                            </tbody>
                </table>
                {{ include('backend/user/_delete_form.html.twig') }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"><i class="fa-solid fa-xmark"></i> Cancelar</button>
                <button type="button" id="btn-update-user" class="btn btn-primary"> <i class="fa-solid fa-floppy-o"></i> Actualizar</button>
            </div>
        </div>
    </div>
</div>